.countries-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.country {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.flag {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.country__name {
  margin: 0.5rem 0 0;
  font-size: 1.25rem;
  text-align: center;
}