.Filters {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.Filters select {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin-left: 0.5rem;
  appearance: none;
  background-color: #fff;
  color: #333;
}

.Filters label {
  font-size: 1rem;
  margin-left: 1rem;
  appearance: none;
  color: white;
}

.Filters select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

.Filters input {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin-left: 0.5rem;
  width: 100%;
}

.Filters .search-bar {
  display: flex;
}

.Filters .sort-filters {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}