h1 {
  font-family: 'Roboto-slab', sans;
  font-size: 2.3rem;
  font-weight: 700;
  color: #fff;
  padding: 0.5rem 0;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
}

h3 {
  font-family: 'Roboto-slab', sans;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
}